:root {
  --primary-color: #f0a500;
  --secondary-color: #fff8e5;
  --tertiary-color: #0ecaf0;
  --background: #212529;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Abel", sans-serif;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

h1,
h2,
h3 {
  color: var(--secondary-color);
}

h1,
h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.button-links {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.navigation-links a {
  margin: 20px;
  margin-bottom: 70px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}

.logo {
  width: 75%;
  height: 75%;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.container {
  display: flex;
}

.home-intro p {
  background: white;
  text-align: left;
  padding: 0;
}

.home-intro h2 {
  text-align: left;
}

.keywords {
  color: var(--primary-color);
  font-size: 30px;
}

.portfolio {
  margin-top: 30px;
}

.portfolio-button {
  border: 2px solid var(--secondary-color);
  cursor: pointer;
  padding: 5px 30px;
  transition: ease-in-out 0.2s;
  border-radius: 2px;
}

.portfolio-button:hover {
  background: var(--tertiary-color);
  border: 2px solid var(--tertiary-color);
  color: var(--secondary-color);
  transition: ease-in-out 0.2s;
}

.index-heading {
  padding-top: 200px;
}

.introduction {
  background: var(--background);
  min-height: 650px;
}

#contact {
  text-align: center;
}

@media (max-width: 480px) {
}

@media (max-width: 576px) {
  h2.home-headings {
    text-align: center;
    font-size: 30px;
  }

  p.home-paragraphs {
    text-align: center;
  }

  h1.about-heading,
  .intro-heading {
    font-size: 40px;
  }

  .button-links {
    display: block;
    text-align: center;
  }

  .email-link {
    font-size: 20px;
  }

  h2.contact-info {
    font-size: 25px;
  }
}
